.highlight-edited g.points > circle.vertex.graphedited {
    color: rgb(87, 201, 44);
    stroke: #333;
    stroke-width: 1;
    stroke-opacity: .5;
    fill-opacity: 1;
}

.highlight-edited g.points > circle.vertex.tagedited {
    color: rgb(160, 231, 134);
    stroke: #fff;
    stroke-width: 2;
    stroke-opacity: .5;
    fill-opacity: 1;
}

/*Make the edited stroke line thin so that the original road color can show around it.*/
.highlight-edited g.lines > path.line.graphedited {
    color: rgb(87, 201, 44);
    stroke-width: 3 !important;
    stroke-opacity: 1;
}

/*Make the stroke in whole-road graph edits thin and less apparent. */
.highlight-edited g.linegroup.line-stroke > path.way.line.stroke.graphedited {
    stroke: rgb(87, 201, 44);
    stroke-width: 3 !important;
    stroke-opacity: 1;
}

/*Make the casing around tag edits wide enough to be a bit more visible. */
.highlight-edited g.linegroup.line-casing > path.way.line.casing.tagedited {
    stroke: rgb(87, 201, 44) !important;
    stroke-width: 12 !important;
    stroke-opacity: 1;
}

.low-zoom.highlight-edited g.linegroup.line-casing > path.way.line.casing.tagedited {
    stroke-width: 10 !important;
}

.highlight-edited.fill-wireframe g.linegroup.line-stroke > path.way.line.stroke.tagedited {
    stroke: rgb(160, 231, 134);
    stroke-width: 10 !important;
    stroke-dasharray: 25 !important;
    stroke-opacity: 1 !important;
}

/*for low zoom levels, make the wireframe view 'tag edit' dashed line finer.*/
.low-zoom.highlight-edited.fill-wireframe g.linegroup.line-stroke > path.way.line.stroke.tagedited {
    stroke-dasharray: 7 !important;
}

/*In wireframe mode, restrain the stroke width to something barely wider than normal.*/
.fill-wireframe.highlight-edited g.lines > path.line.graphedited, .fill-wireframe.highlight-edited g.linegroup.line-stroke > path.way.line.stroke.tagedited {
    stroke-width: 2 !important;
}

.bbox-svg {
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
}

.map-bbox {
    fill: none;
    stroke: rgba(0, 255, 255, 0.70);
    stroke-width: 1;
    shape-rendering: crispEdges;
    z-index: 1;
    pointer-events: none;
}

.map-bbox.thick {
    stroke-width: 5;
}

.grids-svg {
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
}

.map-grids {
    fill: none;
    stroke: rgba(0, 255, 255, 0.40);
    stroke-width: 2;
    shape-rendering: crispEdges;
    z-index: 1;
    pointer-events: none;
}
@-webkit-keyframes snowflakes-fall {
    0%   { top:-10% }
    100% { top:100% }
}

@-webkit-keyframes snowflakes-shake {
    0%,100% {
        -webkit-transform:translateX(0);transform:translateX(0)
    }
    50%{
        -webkit-transform:translateX(80px);transform:translateX(80px)
    }
}

/* customizable snowflake styling */
.snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 5px #000;
  }

.snowflake.fast {
    font-size: 1.5em;
}

.snowflake.slow {
    font-size: .75em;
}

@keyframes snowflakes-fall{
    0% {top:-10%}
    100% {top:100%}
}
@keyframes snowflakes-shake{
    0%,100% {transform:translateX(0)}
    50% {transform:translateX(80px)}
}

@keyframes snowflakes-shake-more{
    0%,100% {transform:translateX(0)}
    50% {transform:translateX(100px)}
}

@keyframes snowflakes-shake-more{ 
    0%,100% {transform:translateX(0)}
    50% {transform:translateX(40px)}
}


.snowflake {
    position:fixed;top:-10%;z-index:9999;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;cursor:default;
    -webkit-animation-name:snowflakes-fall,snowflakes-shake;
    -webkit-animation-duration:10s,3s;
    -webkit-animation-timing-function:linear,ease-in-out;
    -webkit-animation-iteration-count:infinite,infinite;
    -webkit-animation-play-state:running,running;
    animation-name:snowflakes-fall,snowflakes-shake;
    animation-duration:10s,3s;
    animation-timing-function:linear,ease-in-out;
    animation-iteration-count:infinite,infinite;
    animation-play-state:running,running
}

.snowflake.fast {
    -webkit-animation-duration:8s,3s;
    animation-duration:6s,3s;
    animation-name:snowflakes-fall,snowflakes-shake-more;
}

.snowflake.slow {
    -webkit-animation-duration:12s,5s;
    animation-duration:12s,5s;
    animation-name:snowflakes-fall,snowflakes-shake-less;
}
.snowflake:nth-of-type(0){
    left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s
}
.snowflake:nth-of-type(1){
    left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s
}
.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}
.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}
.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}
.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}
.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}
.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}
.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}
.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
.snowflake:nth-of-type(10){left:25%;-webkit-animation-delay:2s,0s;animation-delay:2s,0s}
.snowflake:nth-of-type(11){left:65%;-webkit-animation-delay:4s,2.5s;animation-delay:4s,2.5s}


.snowflake.fast:nth-of-type(0){
    left:4%;-webkit-animation-delay:.5s,0s;animation-delay:.5s,0s
}
.snowflake.fast:nth-of-type(1){
    left:11%;-webkit-animation-delay:.75s,1s;animation-delay:.75s,1s
}
.snowflake.fast:nth-of-type(2){left:25%;-webkit-animation-delay:5s,.5s;animation-delay:5s,.5s}
.snowflake.fast:nth-of-type(3){left:35%;-webkit-animation-delay:3s,2s;animation-delay:3s,2s}
.snowflake.fast:nth-of-type(4){left:45%;-webkit-animation-delay:1s,2s;animation-delay:1s,2s}
.snowflake.fast:nth-of-type(5){left:55%;-webkit-animation-delay:7s,3s;animation-delay:7s,3s}
.snowflake.fast:nth-of-type(6){left:65%;-webkit-animation-delay:5s,2s;animation-delay:5s,2s}
.snowflake.fast:nth-of-type(7){left:75%;-webkit-animation-delay:1.5s,1s;animation-delay:1.5s,1s}
.snowflake.fast:nth-of-type(8){left:85%;-webkit-animation-delay:.5s,0s;animation-delay:.5s,0s}
.snowflake.fast:nth-of-type(9){left:95%;-webkit-animation-delay:2s,1.5s;animation-delay:2s,1.5s}
.snowflake.fast:nth-of-type(10){left:28%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}
.snowflake.fast:nth-of-type(11){left:72%;-webkit-animation-delay:3s,2.5s;animation-delay:3s,2.5s}



.snowflake.slow:nth-of-type(0){
    left:4%;-webkit-animation-delay:.5s,0s;animation-delay:.5s,0s
}
.snowflake.slow:nth-of-type(1){
    left:11%;-webkit-animation-delay:.75s,1s;animation-delay:.75s,1s
}
.snowflake.slow:nth-of-type(2){left:25%;-webkit-animation-delay:3s,.5s;animation-delay:3s,.5s}
.snowflake.slow:nth-of-type(3){left:35%;-webkit-animation-delay:1s,2s;animation-delay:1s,2s}
.snowflake.slow:nth-of-type(4){left:45%;-webkit-animation-delay:9s,2s;animation-delay:9s,2s}
.snowflake.slow:nth-of-type(5){left:55%;-webkit-animation-delay:5s,3s;animation-delay:5s,3s}
.snowflake.slow:nth-of-type(6){left:65%;-webkit-animation-delay:3s,2s;animation-delay:3s,2s}
.snowflake.slow:nth-of-type(7){left:75%;-webkit-animation-delay:9.5s,1s;animation-delay:9.5s,1s}
.snowflake.slow:nth-of-type(8){left:85%;-webkit-animation-delay:8.5s,0s;animation-delay:8.5s,0s}
.snowflake.slow:nth-of-type(9){left:95%;-webkit-animation-delay:0s,1.5s;animation-delay:0s,1.5s}
.snowflake.slow:nth-of-type(10){left:28%;-webkit-animation-delay:9s,0s;animation-delay:9s,0s}
.snowflake.slow:nth-of-type(11){left:72%;-webkit-animation-delay:1s,2.5s;animation-delay:1s,2.5s}
.snowflake.slow:nth-of-type(12){left:75%;-webkit-animation-delay:9.5s,1s;animation-delay:9.5s,1s}
.snowflake.slow:nth-of-type(13){left:85%;-webkit-animation-delay:8.5s,0s;animation-delay:8.5s,0s}
.snowflake.slow:nth-of-type(14){left:95%;-webkit-animation-delay:0s,1.5s;animation-delay:0s,1.5s}
.snowflake.slow:nth-of-type(15){left:28%;-webkit-animation-delay:9s,0s;animation-delay:9s,0s}
.snowflake.slow:nth-of-type(16){left:72%;-webkit-animation-delay:1s,2.5s;animation-delay:1s,2.5s}
.snowflake.slow:nth-of-type(17){left:28%;-webkit-animation-delay:9s,0s;animation-delay:9s,0s}
