
/* markers and sequences */
.viewfield-group {
  pointer-events: none;
}
.ideditor.mode-browse .viewfield-group,
.ideditor.mode-select .viewfield-group,
.ideditor.mode-select-data .viewfield-group,
.ideditor.mode-select-error .viewfield-group,
.ideditor.mode-select-note .viewfield-group {
    pointer-events: visible;
    cursor: pointer;
}

.viewfield-group.currentView * {
    fill: #ffee00 !important;
}
.viewfield-group.hovered * {
    fill: #eebb00 !important;
}

.viewfield-group circle {
    stroke: #555;
    stroke-width: 1;
    stroke-opacity: 0.4;
    fill-opacity: 0.4;
}
.viewfield-group.highlighted circle {
    stroke: #222;
    stroke-opacity: 0.9;
    fill-opacity: 0.9;
}
.viewfield-group.highlighted.hovered circle {
    stroke: #222;
    stroke-width: 2;
    stroke-opacity: 0.9;
    fill-opacity: 0.9;
}
.viewfield-group.highlighted.currentView circle {
    stroke: #222;
    stroke-width: 2;
    stroke-opacity: 1;
    fill-opacity: 1;
}

.viewfield-group .viewfield {
    stroke-width: 0;
    stroke: #222;
    fill-opacity: 0.4;
}
.viewfield-group.highlighted .viewfield {
    stroke-width: 1;
    fill-opacity: 0.8;
}
.viewfield-group.highlighted.hovered .viewfield {
    stroke-width: 1;
    fill-opacity: 0.8;
}
.viewfield-group.highlighted.currentView .viewfield {
    stroke-width: 1;
    fill-opacity: 0.9;
}

.viewfield-group.currentView .viewfield-scale {
    transform: scale(2,2);
}

.sequence {
    fill: none;
    stroke-width: 2;
    stroke-opacity: 0.4;
}
.sequence.highlighted,
.sequence.currentView {
    stroke-width: 4;
    stroke-opacity: 1;
}


/* Mapillary Traffic Signs and Map Features Layers */
.layer-mapillary-detections {
    pointer-events: none;
}
.layer-mapillary-detections .icon-detected {
    outline: 2px solid transparent;
    pointer-events: visible;
    cursor: pointer;
    opacity: 0.75;
}
.layer-mapillary-detections .icon-detected rect {
    fill: none;
}
.layer-mapillary-detections .icon-detected:active {
    opacity: 1;
}
.layer-mapillary-detections .icon-detected:active rect {
    outline: 3px solid rgba(255, 238, 0, 0.6);
}
@media (hover: hover) {
    .layer-mapillary-detections .icon-detected:hover {
        opacity: 1;
    }
    .layer-mapillary-detections .icon-detected:hover rect {
        outline: 3px solid rgba(255, 238, 0, 0.6);
    }
}
.layer-mapillary-detections .icon-detected.currentView {
    opacity: 1;
}
.layer-mapillary-detections .icon-detected.currentView rect {
    outline: 3px solid rgba(255, 238, 0, 1);
}


/* Streetside Viewer (pannellum) */
.ms-wrapper .photo-attribution .image-link {
  display: block;
}
.ms-wrapper .photo-attribution .attribution-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}
.ms-wrapper .photo-attribution .image-view-link {
  text-align: left;
  margin: 0 5px;
}
.ms-wrapper .photo-attribution .image-report-link {
  text-align: right;
}

.ms-wrapper .pnlm-ui {
  margin: 10px;
}
.ms-wrapper .pnlm-compass.pnlm-control {
  width: 26px;
  height: 26px;
  left: 4px;
  top: 60px;
  background-size: contain;
  background-repeat: no-repeat no-repeat;
}

label.streetside-hires {
  cursor: pointer;
}
.streetside-hires span {
  margin-top: 2px;
}
.streetside-hires input[type="checkbox"] {
  float: left;
  width: 12px;
  height: 12px;
  margin: 0 5px;
}


/* Mapillary viewer */
#rapideditor-mly .domRenderer .TagSymbol {
  font-size: 10px;
  background-color: rgba(0,0,0,0.4);
  padding: 0 4px;
  border-radius: 4px;
  top: -25px;
}

.mapillary-viewer .mapillary-dom {
  bottom: 15px;  /* raise up slightly to leave space for photo-footer */
}

.mly-wrapper .mapillary-bearing-north {
  border-bottom-color: white;
  border-bottom-width: 4px;
  border-left-color: rgba(0,0,0,0);
  border-left-width: 4px;
  border-right-color: rgba(0,0,0,0);
  border-right-width: 4px;
  border-right-style: solid;
  border-left-style: solid;
  border-bottom-style: solid;
}

/* Kartaview viewer */
.osc-wrapper {
  position: relative;
  background-color: #000;
  background-image: url(img/loader-black.gif);
  background-position: center;
  background-repeat: no-repeat;
}

.osc-image-wrap {
  width: 100%;
  height: 100%;
  transform-origin: 0 0;
}

.osc-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

