.mode-browse .layer-ai-features .line,
.mode-select .layer-ai-features .line,
.mode-browse .layer-ai-features .vertex,
.mode-select .layer-ai-features .vertex {
    cursor: pointer;
    /* cursor: url(img/cursor-select-line.png), pointer; */
    cursor: url(img/tree.svg), pointer;
}

/* Road Lines */
/* .layer-ai-features { 
    cursor: url(img/tree.svg), pointer;
} */

.layer-ai-features path.stroke {
    stroke: #ff26d4;
    stroke-width: 5;
    fill: none;
}
.layer-ai-features path.stroke.green.road {
    /* stroke: #00ff3e; */
    stroke-width: 7;
    /* fill: url(#ai-feature-candycane-green); */
    stroke: url(#ai-feature-candycane-green); 
}
.layer-ai-features path.stroke.red.road {
    stroke-width: 7;
    stroke: url(#ai-feature-candycane-red)
}

.layer-ai-features path.casing {
    stroke: #f0f;
    stroke-width: 7;
    stroke-opacity: 0;
    fill: none;
}


.layer-ai-features path.casing.red.road {
    stroke: white;
    stroke-width: 9;
 }

 .layer-ai-features path.casing.green.road {
    stroke-width: 9;
    stroke: white;
 }

.layer-ai-features path.shadow {
    pointer-events: stroke;
    stroke: #fff;
    stroke-width: 20;
    stroke-opacity: 0;
    fill: none;
}

.layer-ai-features path.shadow.green.road, 
.layer-ai-features path.shadow.red.road
 {
    stroke-width: 7;
    stroke-opacity: 1;
    fill: none;
}

.low-zoom .layer-ai-features path.stroke {
    stroke-width: 3;
}
.low-zoom .layer-ai-features path.casing {
    stroke-width: 5;
}
.low-zoom .layer-ai-features path.shadow {
    stroke-width: 15;
}

.layer-ai-features path.casing.hover,
.layer-ai-features path.casing.selected {
    stroke-opacity: 1;
}
.layer-ai-features path.shadow.hover:not(.selected) {
    stroke-opacity: 0.4;
}
.layer-ai-features path.shadow.selected {
    stroke-opacity: 0.4;
}

/* Road Vertices */

.layer-ai-features g.vertex .fill {
    fill: #fff;
}

.layer-ai-features g.vertex .stroke {
    stroke: #ff26d4;
    stroke-width: 3;
    fill: #fff;
}


.layer-ai-features g.vertex.red.road .stroke {
    stroke: #ff0012;
    stroke-width: 3;
    fill: #fff;
}

.layer-ai-features g.vertex.green.road .stroke {
    stroke: #00ff3e;
    stroke-width: 3;
    fill: #fff;
}

.low-zoom .layer-ai-features g.vertex .stroke {
    stroke-width: 2;
}

.layer-ai-features .road.hide, .layer-ai-features .building.hide {
    display: none;
}

.layer-ai-features  path.line.building.stroke {
    stroke-width: 5px;
    color:#e11383; 
    stroke: currentColor;
    fill: url(#ai-building-pink);  
    fill-opacity: 1; 
}

.layer-ai-features  path.line.building.stroke.red {
    color: #ff0012; 
    fill: url(#ai-feature-candycane-red);     
}

.low-zoom .layer-ai-features  path.line.building.stroke.red {
    fill: url(#ai-feature-candycane-red-lowzoom);     
}

.layer-ai-features  path.line.building.stroke.green {
    color:#00ff3e; 
    fill: url(#ai-feature-candycane-green);  
}


.low-zoom .layer-ai-features  path.line.building.stroke.green {
    fill: url(#ai-feature-candycane-green-lowzoom);  
}

.layer-ai-features  path.line.building.shadow {
    stroke-width: 12px;
    fill: white;
}

.low-zoom .layer-ai-features path.line.building {
    stroke-width: 3px;
}

.layer-ai-features .node.vertex.building circle{
    opacity: 0; 
}