.mode-browse .layer-ai-features .line,
.mode-select .layer-ai-features .line,
.mode-browse .layer-ai-features .vertex,
.mode-select .layer-ai-features .vertex {
    cursor: pointer;
    cursor: url(img/cursor-select-line.png), pointer;
}

/* Road Lines */

.layer-ai-features path.stroke {
    stroke: #ff26d4;
    stroke-width: 5;
    fill: none;
}
.layer-ai-features path.casing {
    stroke: #f0f;
    stroke-width: 7;
    stroke-opacity: 0;
    fill: none;
}
.layer-ai-features path.shadow {
    pointer-events: stroke;
    stroke: #fff;
    stroke-width: 20;
    stroke-opacity: 0;
    fill: none;
}

.low-zoom .layer-ai-features path.stroke {
    stroke-width: 3;
}
.low-zoom .layer-ai-features path.casing {
    stroke-width: 5;
}
.low-zoom .layer-ai-features path.shadow {
    stroke-width: 15;
}

.layer-ai-features path.casing.hover,
.layer-ai-features path.casing.selected {
    stroke-opacity: 1;
}
.layer-ai-features path.shadow.hover:not(.selected) {
    stroke-opacity: 0.4;
}
.layer-ai-features path.shadow.selected {
    stroke-opacity: 0.4;
}

/* Road Vertices */

.layer-ai-features g.vertex .fill {
    fill: #fff;
}

.layer-ai-features g.vertex .stroke {
    stroke: #ff26d4;
    stroke-width: 3;
    fill: #fff;
}

.low-zoom .layer-ai-features g.vertex .stroke {
    stroke-width: 2;
}

.layer-ai-features .road.hide, .layer-ai-features .building.hide {
    display: none;
}

.layer-ai-features  path.line.building.stroke {
    stroke-width: 5px;
    stroke: #ff26d4;
     fill: url(#ai-building);  
    fill-opacity: 1; 
}

.layer-ai-features  path.line.building.shadow {
    stroke-width: 12px;
}

.low-zoom .layer-ai-features path.line.building {
    stroke-width: 3px;
}

.layer-ai-features .node.vertex.building circle{
    opacity: 0; 
}