svg.logo-rapid,
.icon.rapid {
    fill: #333;
    color: #ff26d4;
}

.assistant.dark svg.logo-rapid,
svg.logo-rapid.dark,
.dark .icon.rapid,
.icon.rapid.dark {
    fill: #eee;
    color: #ff26d4;
}

.assistant .control-col button {
    background: transparent;
    color: #808080;
    height: 100%;
    width: 40px;
}

/* Toolbar button */
button.rapid-poweruser-features svg.logo-mapwithai {
    width: 22px;
    height: 22px;
}

button.ai-features-toggle svg.logo-rapid {
    width: 46px;
    height: 22px;
}

button.ai-features-toggle.layer-off use {
    fill: rgba(0,0,0,.4);
    color: rgba(0,0,0,.4);
}

.fb-road-picker .tooltip .popover-inner {
    border: 1px solid grey;
}

.fb-road-license a {
    padding: 2px 4px 4px 4px;
    border-radius: 2px;
}
/* Sidebar component */

.fb-road-picker svg.logo-rapid {
    height: 40px;
    margin-top: -10px;
}

.fb-road-picker .header .fb-road-picker-close {
    position: absolute;
    top: 0;
    right: 0;
}

.fb-road-picker .picker-icon-container {
    flex: 1 0 60px;
    padding: 10px;
}

.picker-icon-container svg {
    width:40px;
    height:40px;
}

.fb-road-picker .picker-list-button {
    display: flex;
    flex: 1 1 auto;
    width: unset;
}

.fb-road-picker .picker-list-button.disabled .picker-icon-container,
.fb-road-picker .picker-list-button.disabled .label{
    opacity: .4;
}

.fb-road-picker .picker-list-button .label {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    left: 60px;
    flex-basis: 200px;
    color: #e0e0e0;
}

.fb-road-picker .tag-reference-button {
    color: #e0e0e0;
}

.fb-road-picker .body {
    padding: 20px;
}

.fb-road-picker .body h4 {
    font-weight: normal;
    text-align: center;
}

.fb-road-picker .preset-list-item {
    margin: 15px 0;
}

.fb-road-picker .preset-list-item .preset-icon-container svg {
    height: 34px;
    width: 34px;
}
.fb-road-picker .preset-list-item .preset-icon-container svg use {
    color: #4c4c4c;
    fill: none;
}

.fb-road-picker .preset-list-item .tag-reference-body {
    padding: 10px;
}
.fb-road-picker .preset-list-item .tag-reference-body.shown {
    display: block;
}
.dark .fb-road-picker .preset-list-item .tag-reference-body.shown {
    color: #a0a0a0;
}

.modal-splash.modal-rapid {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: 1px solid darkgrey;
    top: 80px
}

.modal-rapid .fillL {
    background: transparent;
    color: white;
}

.modal-rapid .fillL.rapid-stack > .modal-section.rapid-checkbox {
    padding-top: 2px;
    padding-bottom: 2px;
}

.modal-rapid .fillL.rapid-stack > .modal-section.rapid-checkbox:first-of-type {
    margin-top: -10px;
    padding-bottom: 0px;
    padding-top: 5px;
}


.modal-rapid .modal-actions button {
    text-align: center;
    background: black;
    color: white;
    border: 1px solid white;
    width: 100%;
    margin: 20px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    height: 160px;
    box-sizing: border-box;
}

.modal-rapid .content {
    box-shadow: unset;
}

.modal-rapid .modal-actions button.rapid-login-to-osm {
    background: white;
    color: black;
    border: black;
    height: 3rem;
}

.modal-rapid .modal-actions button.rapid-explore {
    height: 3rem;
}

.modal-rapid .modal-section {
    border: 0px;
}

.modal-rapid .modal-section .logo-rapid {
    fill: white;
}

.modal-rapid p {
    font-size: 14px;
}

.modal-rapid button.close {
    align-self: flex-end;
    background: transparent;
    color: #ff26d4;
    position: unset;
    height: 40px;
}

.rapid-feature.rapid-stack {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
}

.rapid-feature-label {
    display: flex;
    align-items: center;
    margin: 8px 16px 8px 16px;
}

form.rapid-feature .heading.poweruser {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.0625em;
    color: white;
}

.rapid-feature-label > svg.icon.logo-rapid {
    width: 4em;
    height: 1.3em;
    margin: -5px;
}

form.rapid-feature .description.poweruser {
    font-size: 14px;
    text-align: left;
}

.rapid-feature-license {
    margin: 16px;
}

.rapid-feature-license p {
    font-size: 10px;
}

.rapid-feature-label-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.rapid-feature-label-container.poweruser {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    padding: 5px;
}

.modal-section.rapid-checkbox {
    font-size: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    width: 100%;
    margin-right: 5px;
}

.modal-section.rapid-checkbox.poweruser {
    font-size:16px;
    flex-wrap: wrap;
    border-radius:10px;
    padding: 3px 10px;
    margin: 3px 0px 3px 0px;
}

.modal-section.rapid-checkbox.poweruser:hover {
    background: linear-gradient(45deg, #888888aa 1%, #88888844 15%,#ffffff22 95%, transparent);
}

.rapid-feature-description {
    font-size: 14px;
    margin: 4px;
}

.rapid-feature-description.poweruser {
    color: #ccc;
}

.modal-heading.rapid {
    font-size: 36px;
    margin: -20px 0px 0px 20px;
}

.modal-heading-desc.rapid {
    font-size: 18px;
    text-align: center;
    width: 100%;
    font-style: italic;
    color: #cccccc
}

.modal-heading svg {
    width: 32px;
    height: 32px;
    margin-top:10px;
}

.modal-section.rapid-checkbox.poweruser {
    font-size:16px;
    flex-wrap: wrap;
    border-radius:10px;
    padding: 3px 10px;
    margin: 3px 0px 3px 0px;
}

.modal-section.rapid-checkbox.poweruser:hover {
    background: linear-gradient(45deg, #888888aa 1%, #88888844 15%,#ffffff22 95%, transparent);
}

.rapid-feature-description {
    font-size: 14px;
    margin: 4px;
}

.rapid-feature-description.poweruser {
    color: #ccc;
}

.modal-heading.rapid {
    font-size: 36px;
    margin: 20px 0px 0px 20px;
}

.modal-heading-desc.rapid {
    font-size: 18px;
    text-align: center;
    width: 100%;
    font-style: italic;
    color: #cccccc
}

.modal-heading svg {
    width: 32px;
    height: 32px;
    margin-top:10px;
}

.modal-section.rapid-checkbox.disabled {
    opacity: .5;
}

.rapid-feature-checkbox {
    margin-left: auto;
}

.modal-section.rapid-checkbox.section-divider {
    width: 100%;
    height: 1px;
    background: #ccca;
    padding: 1px;
    align-self: center;
    margin-top: 3px;
    margin-bottom: 3px;
}

.modal-section.rapid-checkbox.section-divider.strong {
    background: #ffffffaa;
}

.rapid-feature-hotkey {
    margin-left: -5px;
    font-size: 14px;
}

.rapid-feature-label-divider {
    width: 1px;
    height: 20px;
    margin-top: 3px;
    background: #ccca;
}

.rapid-checkbox-label {
    width: 40px;
    height: 40px;
    margin-left: auto;
}

.rapid-checkbox-label.poweruser {
    align-self: center;
}

/* since checkboxes can't be styled, we'll
hide this one and style something on top of it.  */
.rapid-checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.rapid-checkbox-label .rapid-checkbox-custom {
    height: 36px;
    width: 36px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid #ffffff;
}

.rapid-checkbox-label .rapid-checkbox-custom::after {
    content: "";
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid transparent;
    border-width: 0 6px 6px 0;
    transform: scale(0);
    opacity: 1;
}

.rapid-checkbox-label input:checked ~ .rapid-checkbox-custom::after {
    content: "";
    display: block;
    height: 12px;
    width: 6px;
    padding: 2px;
    margin-left: 9px;
    margin-top: 2px;
    border-radius: 0;
    border: solid #ff26d4;
    background-color: transparent;
    border-width: 0 4px 4px 0;
    transform: rotate(45deg) scale(1);
    opacity: 1;
}

g.layer-ai-features.hide-rapid-roads path.road,
g.layer-ai-features.hide-rapid-roads g.node.road,
g.layer-ai-features.hide-rapid-buildings path.building  {
    display: none;
}

/* Rapid power user features */

.rapid-feature-animation.poweruser {
    background-size: 100% 100%;
    width: 130px;
    height: 130px;
    border-radius: 10px;
    margin: 5px;
    border: 1px solid darkgrey;
}

.modal-section.rapid-checkbox.poweruser div#ai-feature-halo {
    background-image: url('img/ai-feature-halo-still.png');
}

.modal-section.rapid-checkbox.poweruser:hover div#ai-feature-halo {
    background-image: url('img/ai-feature-halo.gif');
}

.modal-section.rapid-checkbox.poweruser div#tagnostic-road-combine {
    background-image: url('img/tagnostic-road-join-still.png');
}

.modal-section.rapid-checkbox.poweruser:hover  div#tagnostic-road-combine {
    background-image: url('img/tagnostic-road-join.gif');
}

.modal-section.rapid-checkbox.poweruser div#tag-sources {
    background-image: url('img/tag-sources-still.png');
}

.modal-section.rapid-checkbox.poweruser:hover div#tag-sources {
    background-image: url('img/tag-sources.gif');
}

ul.layer-list.layer-background-list li button.background-favorite-button {
    background-color: inherit;
}

button.background-favorite-button .icon {
    fill-opacity: 0;
    stroke-width: 1;
}

button.background-favorite-button.active .icon {
    fill-opacity: inherit;
}

.background-pane .layer-list button.background-favorite-button {
    border: 0;
}

li.best > label > span.background-name {
    flex: 1 1 auto;
}

li.best > label > span.best {
    flex: 0 0 auto;
}


li.best > label > span.best > svg {
    color: #E98733;
    height: 19px;
}

.layer-list label {
    display: flex;
}

#imagery-label {
    height: 20px;
    justify-content: center;
    margin-bottom: 5px;
    display: inherit;
    color: #ff26d4;
    font-weight: bolder;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ff26d4;
    -webkit-text-fill-color: pink;
}

@keyframes label-bounce {
    from { transform: scale(1.25) }
    to { transform: scale(1) }
}